@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  box-sizing: border-box !important;
}

.background-pink {
  background-color: #FF9398;
}

.text-red {
  color: #D14836;
}

.initial-animation {
  transition: all 250ms ease-in-out;
}

.initial-animation img {
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.beating-heart-50 {
  height: 50px;
  width: 50px;
  transition: all 250ms ease-in-out;
}

.beating-heart-60 {
  height: 60px;
  width: 60px;
  transition: all 250ms ease-in-out;
}

.beating-heart-2500 {
  height: 2500px;
  width: 2500px;
  transition: all 1s ease-in-out;
}

.transition-opacity {
  transition: opacity 500ms ease-in-out 500ms;
}

.paragraph {
  display: flex;
  line-height: 1;
  flex-wrap: wrap;

  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 8px;

    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}

.inner {
  background-color: #1f2937;

  .page {
    background-color: #fecdd3;
  }

  .slide {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fecdd3;
    z-index: 1;
  }
}

.poemTemplate {
  .images {
    display: flex;
    height: 180px;
    width: 160px;
    justify-content: center;
    position: relative;
  
    img {
      object-fit: cover;
    }
  
    .imageContainer {
      position: absolute;
  
      &:nth-of-type(1) {
        left: 140px;
        top: 50px;
        height: 120px;
        width: 100px;
        z-index: 2;
        transform: rotate(0.05turn);
      }
  
      &:nth-of-type(2) {
        left: -80px;
        top: 100px;
        height: 120px;
        width: 100px;
        z-index: 3;
        transform: rotate(-0.03turn);
      }
    }
  }
  
}

.galleryWrapper {
  .column {
    .imageContainer {
      &.showImage img {
        height: 500px;
        width: 500px;
      }
      img {
        transition: all 100ms ease-in-out;
        object-fit: cover;
        height: 150px;
        width: 100%;
      }
    }
  }
}
