@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  box-sizing: border-box !important;
}

.background-pink {
  background-color: #FF9398;
}

.text-red {
  color: #D14836;
}

.initial-animation {
  transition: all 250ms ease-in-out;
}

.initial-animation img {
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.beating-heart-50 {
  height: 50px;
  width: 50px;
  transition: all 250ms ease-in-out;
}

.beating-heart-60 {
  height: 60px;
  width: 60px;
  transition: all 250ms ease-in-out;
}

.beating-heart-2500 {
  height: 2500px;
  width: 2500px;
  transition: all 1s ease-in-out;
}